variables:
  #变量尽量定义在最前面，方便不同工程的修改
  APP_NAME: 'rs-retry'
  STATIC_APP_NAME: 'mimg/external/lib/rs-retry'
  STATIC_APP_NAME_OFFICIAL_PATH: 'lib/rs-retry'
  TARGET_DIR: 'dist'
  BUILD_CMD: 'npm run build'
  RELEASE_GITADDR: 'ssh://git@g.hz.netease.com:22222/qiye/release/mimg.git'
  RELEASE_OFFICAIL_GITADDR: 'ssh://git@g.hz.netease.com:22222/qiye/release/qiye-official.git'
  #环境定义：dev-开发，test-测试，online-线上打包环境
  #不同环境下运行runner的账号目录
  DEV_USREDIR: '/home/appops/'
  TEST_USERDIR: '/home/appops/'
  #各个环境下应用的部署目录，打包环境可不用
  DEV_OFFICIAL_DEPLOYDIR: '/data/qiye.163.com/'
  TEST_OFFICIAL_DEPLOYDIR: '/data/qiye.163.com/'
  DEV_DEPLOYDIR: '/data/webroot/static/'
  TEST_DEPLOYDIR: '/data/webroot/static/'
  #本地发布目录
  DEPLOY_BASE_DIR: '/home/appops/pre-publish'
  #初始化official本地发布目录
  INIT_DEPLOY_OFFICIAL_DIR_CMD: 'git clone $RELEASE_OFFICAIL_GITADDR $APP_NAME && cd $APP_NAME && ls -a && git config user.email "qiye_deploy@corp.netease.com" && git config user.name "qiye_deploy"'
  #初始化本地发布目录
  INIT_DEPLOY_DIR_CMD: 'git clone $RELEASE_GITADDR $APP_NAME && cd $APP_NAME && ls -a && git config user.email "qiye_deploy@corp.netease.com" && git config user.name "qiye_deploy"'
  #获取项目最后提交说明
  COMMIT_LOG_CMD: 'git log -n 1 --pretty=format:"%h|%s|%cn|%cd" --date=short'
  # 推送到发布库
  PUSH_TO_RELEASE_REPO_CMD: 'git add -A && git commit -m "$commit_msg" && git push origin master'
  #重启tomcat
  RESTAR_TOMCAT_CMD: 'bash /home/appops/etc/tomcat/bin/tomcat.sh restart'
cache:
    paths:
        - node_modules/
stages:
  - build
  - deploy
  - publish

#打包构建
build:
  stage: build
  script:
    - pwd
    - commit_msg=$($COMMIT_LOG_CMD) && echo $commit_msg
    - uname -a
    - \. "$HOME/.nvm/nvm.sh"
    - echo $PATH
    - nvm use v22
    - node -v
    - npm install
    - npm run build
  tags:
    - appops-entmail-dev-06-groupqiye
  artifacts:
    paths:
      - $TARGET_DIR
    expire_in: 1 days
  only: # 指定特定分支
    - master
    - release
    - develop
    - /^feature\/.*$/
    - /^bugfix\/.*$/



# 部署杭州测试环境
deploy-test-2:
  stage: deploy
  script:
  - pwd
  - mkdir -p $TEST_DEPLOYDIR$STATIC_APP_NAME
  - rsync -av $TARGET_DIR/ $TEST_DEPLOYDIR$STATIC_APP_NAME
  # 同时部署到qiye.163.com
  - mkdir -p $DEV_OFFICIAL_DEPLOYDIR$STATIC_APP_NAME_OFFICIAL_PATH
  - rsync -av  $TARGET_DIR/ $DEV_OFFICIAL_DEPLOYDIR$STATIC_APP_NAME_OFFICIAL_PATH
  tags:
  - qiye-test-2-hz
  environment:
    name: test
  when: manual
  only:
  - dev
  - master
  - release
  - /^feature\/.*$/
  - /^bugfix\/.*$/

#部署新开发环境01
deploy-dev-qa-01:
  stage: deploy
  script:
  - pwd
  - mkdir -p $DEV_DEPLOYDIR$STATIC_APP_NAME
  - rsync -av  $TARGET_DIR/ $DEV_DEPLOYDIR$STATIC_APP_NAME
  # - $RESTAR_TOMCAT_CMD
  tags:
    - appops-entmail-qa-01-groupqiye
  when: on_success # manual
  environment:
    name: dev
  only:
    - dev
    - release
    - master
    - /^feature\/.*$/
    - /^bugfix\/.*$/

deploy-dev-qa-02:
  stage: deploy
  script:
  - pwd
  - mkdir -p $DEV_DEPLOYDIR$STATIC_APP_NAME
  - rsync -av  $TARGET_DIR/ $DEV_DEPLOYDIR$STATIC_APP_NAME
  # - $RESTAR_TOMCAT_CMD
  tags:
    - appops-entmail-qa-02-groupqiye
  when: manual # manual
  environment:
    name: dev
  only:
    - dev
    - release
    - master
    - /^feature\/.*$/
    - /^bugfix\/.*$/

deploy-gy-dev-06:
  stage: deploy
  script:
  - pwd
  - mkdir -p $DEV_DEPLOYDIR$STATIC_APP_NAME
  - rsync -av  $TARGET_DIR/ $DEV_DEPLOYDIR$STATIC_APP_NAME
  # - $RESTAR_TOMCAT_CMD
  tags:
    - appops-entmail-dev-06-groupqiye
  when: manual # manual
  environment:
    name: dev
  only:
    - dev
    - release
    - master
    - /^feature\/.*$/
    - /^bugfix\/.*$/

deploy-gy-dev-07:
  stage: deploy
  script:
  - pwd
  - mkdir -p $DEV_DEPLOYDIR$STATIC_APP_NAME
  - rsync -av  $TARGET_DIR/ $DEV_DEPLOYDIR$STATIC_APP_NAME
  # - $RESTAR_TOMCAT_CMD
  tags:
    - appops-entmail-dev-07-groupqiye
  when: manual # manual
  environment:
    name: dev
  only:
    - dev
    - release
    - master
    - /^feature\/.*$/
    - /^bugfix\/.*$/

#打包提交发布库
publish-online:
  stage: publish
  script:
    - pwd
    - currentPath=$(pwd)
    - ls -lh $currentPath/$TARGET_DIR/
    - commit_msg=$($COMMIT_LOG_CMD) && echo $commit_msg
    - mkdir -p $DEPLOY_BASE_DIR && cd $DEPLOY_BASE_DIR
    - if [ ! -d "$APP_NAME" ];then
    - eval $INIT_DEPLOY_DIR_CMD
    - else
    - cd $APP_NAME && git pull && ls -a
    - fi
    - rsync -av --exclude '.git' $currentPath/$TARGET_DIR/ ./external/lib/rs-retry
    - git add -A && git commit -m "$commit_msg" && git push origin master
  tags:
    - qiye-online-runner #按需修改
  when: manual
  environment:
    name: online
  only:
    - release
    - master

publish-online-official:
  stage: publish
  script:
    - pwd
    - currentPath=$(pwd)
    - ls -lh $currentPath/$TARGET_DIR/
    - commit_msg=$($COMMIT_LOG_CMD) && echo $commit_msg
    - mkdir -p $DEPLOY_BASE_DIR && cd $DEPLOY_BASE_DIR
    - if [ ! -d "$APP_NAME" ];then
    - eval $INIT_DEPLOY_OFFICIAL_DIR_CMD
    - else
    - cd $APP_NAME && git pull && ls -a
    - fi
    - rsync -av --exclude '.git' $currentPath/$TARGET_DIR/ ./js/rs-retry
    - git add -A && git commit -m "$commit_msg" && git push origin master
  tags:
    - qiye-online-runner #按需修改
  when: manual
  environment:
    name: online
  only:
    - release
    - master
